/* GENERAL */

/* * {
  list-style: none;
  text-decoration: none;
} */

/* HEADER */

header li a {
  font-family: "poppins-regular", sans-serif;
}

#picture h3 {
  font-size: 20px;
  font-family: "poppins-bold", sans-serif;
  color: #df6951;
  text-transform: uppercase;
}

/* SECTION PICTURE */

#picture #description h2 {
  font: 84px "volkhov-bold";
  color: #ffff;
}

#description p {
  font: 16px "poppins-regular";
  color: #bfc0cd;
  font-weight: 700;
}
