/* GENERAL */

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  /* border: 3px solid gray; */
  display: flex;
  gap: 20px;
  margin-left: 150px;
}

.logo img {
  /* border: 3px solid purple; */
  height: 30px;
}

h1,
h2 {
  font: 84px "volkhov-bold";
  color: #ffff;
}

h3 {
  font: 16px "poppins-bold";
  font-weight: 400;
  color: #1e1d4c;
}

h4 {
  font: 18px "poppins-regular";
  font-weight: 700;
  color: #5e6282;
  text-transform: uppercase;
}

label {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #000;
}

::placeholder {
  font: 13px "poppins-regular";
  font-weight: 400;
  color: #000;
}

/* HEADER */

header {
  /* border: 3px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  position: sticky;
  top: 0px;
}

header nav {
  /* border: 3px solid black; */
  width: 35%;
}

header ul {
  /* border: 3px solid yellow; */
  display: inline-flex;
  gap: 30px;
}

header li {
}

header li a {
  /* border: 3px solid salmon; */
  font-family: "poppins-regular", sans-serif;
  color: black;
}

/* :HOVER */

header ul li a:hover {
  text-decoration: underline;
}

/* SECTION PICTURE */

#picture {
  border: 3px solid green;
  background: url("../assets/illustration_principale.jpg") no-repeat;
}

#picture article {
  border: 5px solid pink;
}

#picture h1 {
  border: 3px solid purple;
}

#picture h3 {
  border: 3px solid orangered;
  font-size: 20px;
  font-family: "poppins-bold", sans-serif;
  color: #df6951;
  text-transform: uppercase;
}

#description h5 {
  border: 3px solid yellow;
  font: 16px "poppins-regular";
  color: #bfc0cd;
  font-weight: 700;
}

button {
  border: 3px solid orange;
  color: white;
  font: 13px "poppins-regular";
  font-weight: 400;
}

/* SECTION NEWS */

/* #news {
  border: 3px solid black;
} */

#news h2 {
  font: 50px "volkhov-regular";
  font-weight: 700;
  color: #14183e;
}

#news figcaption {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #5e6282;
}

/* SECTION CHEF */

#detail h5 {
  font: 16px "poppins-regular";
  font-weight: 700;
  color: #fff;
}

/* SECTION COMMANDE */

#commande h2 {
  color: #df6951;
}

#commande span {
  color: #14183e;
}

#commande figcaption h4 {
  color: #22232c;
  font: 16px "poppins-bold";
  font-weight: 400;
  text-transform: none;
}

#commande figcaption p {
  font: 16px "poppins-regular";
  color: #3e3f43;
  font-weight: 400;
}

/* SECTION CONTACT */

#contact h2 {
  font: 50px "volkhov-regular";
  font-weight: 700;
  color: #14183e;
}

#submit {
  font: 13px "poppins-regular";
  font-weight: 400;
  color: black;
}

#formulaire h4 {
  font: 18px "poppins-regular";
  font-weight: 700;
  text-transform: none;
}

#formulaire h5 {
  font: 16px "poppins-regular";
  font-weight: 700;
  color: #8d8d8d;
}

/* FOOTER */

footer #logojadoo p {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #000;
}

footer h4 {
  font: 16px "poppins-bold";
  font-weight: 400;
  color: #000;
  text-transform: none;
}

footer li {
  list-style: none;
}

footer a {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

#applications p {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #000;
}

footer button.google {
  text-transform: uppercase;
}

footer button.apple {
  text-transform: uppercase;
}

footer p {
  font: 14px "poppins-regular";
  font-weight: 400;
  color: #000;
}
