/* GENERAL */

/* * {
  list-style: none;
  text-decoration: none;
} */

h1,
h2 {
  font: 84px "volkhov-bold";
  color: #ffff;
}

h3 {
  font: 16px "poppins-bold";
  font-weight: 400;
  color: #1e1d4c;
}

h4 {
  font: 18px "poppins-regular";
  font-weight: 700;
  color: #5e6282;
  text-transform: uppercase;
}

/* HEADER */

#logo {
  /* border: 3px solid black; */
  display: flex;
}

header li a {
  font-family: "poppins-regular", sans-serif;
}

#picture h3 {
  font-size: 20px;
  font-family: "poppins-bold", sans-serif;
  color: #df6951;
  text-transform: uppercase;
}

/* SECTION PICTURE */

/* #picture {
  border: 3px solid black;
} */

#description h5 {
  font: 16px "poppins-regular";
  color: #bfc0cd;
  font-weight: 700;
}

button {
  color: white;
  font: 13px "poppins-regular";
  font-weight: 400;
}

/* SECTION NEWS */

/* #news {
  border: 3px solid black;
} */

#news h2 {
  font: 50px "volkhov-regular";
  font-weight: 700;
  color: black;
}

#news p {
  font: 16px "poppins-regular";
  font-weight: 400;
  color: #5e6282;
}

/* SECTION CHEF */

#detail p {
}
